h1{
    font-size: 20px;
}

.flex-container{
    display: flex !important;
}

.btn{
    background-color: orangered;
    color: white;
}

select{
    box-shadow: none;
    border-color: black !important;
}

.card-div{
    background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 32px 0px;
  padding: 25px !important; 
  height: 430px !important;
  border-radius: 12px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}