@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navDiv{
  width: 100vw;
}
.navbar{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-brand:hover{
 color: black;
}

.nav-link{
  color: black;
  font-size: 1.2rem;
}
.login-link{
  transform: translateY(5px);
}
.navbar-brand{
  color: black;
  font-size: 1.6rem !important;
  /* border: 1px solid black; */
  padding-left: 13px;
}
.navbar-brand-span{
  color: orangered;
}

.nav-link:hover{
  color: orangered;
}

.cart-icon{
  transform: translateY(2px);
}

.cart-btn{
  border: none;
  padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 32px;
    background-color: orangered;
    color: white;
}

.cart-btn:hover{
  /* color:orangered; */
  background-color: rgb(203, 57, 3);
}

.cartHeading{
  font-size: 35px;
}


.cartDivInner{
  /* border: 1px solid black; */
  width: 70vw;
  margin: auto;
}

.flexDiv{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border: 1px solid black; */
}

.plusIcon{
  color: green;
  /* margin: 5px; */
  transform: translateY(2px);
}
.minusIcon{
  color: red;
  /* margin: 5px; */
  transform: translateY(2px);
}
.horizontal-line{
  color: grey;
}
.trashIcon{
  color: orangered;
  transform: scale(1.3);
  margin-top: 50px;
}

.flexOuterDiv{
  border-bottom: 2px solid rgb(236, 233, 233);
  display: flex;
  justify-content: space-between;
}


.subwayImg{
  margin-right: 50px ;
}

.imgDiv{
  /* border: 1px solid red; */
  display: flex;
}

.subTotalHead{
  font-size: 35px;
}

.subTotalDiv{
  /* border: 1px solid black;
  border-top: none; */
  padding: 20px;
}

.subTotalDivOuter{
  width: 70vw;
  margin: auto;
}
 input{
  margin-top: 10px !important;
 }

 .dropdown-btn{
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  margin-top: 12px;
  margin-right: 10px;
 }


